# .gitignore

node_modules/
www/
platforms/
plugins/
*.log
*.swp
*.bak
*.tmp
*.sublime-project
*.sublime-workspace
*.DS_Store
*.idea
*.swo
*.stupid
*.sass-cache
*.code-workspace
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env
.env.test
.env.production
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
